/*regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   

}

body {
    background-color: grey;
}

/*titolo pagina*/
h1 {
    font-size: 50px;
    display: inline;
}

.white-back{
    background-color: white;
    
}

main {
    width: 70%;
    margin:auto;
    
    
}

#page-header {
    border-bottom: solid 40px gray;
}

button {
    margin: 15px;
    margin-left: 60px;
}

#but1 {
    background-color: rgb(0, 102, 255) ;
    margin-right: 0px;
}

#button-header {
    border-bottom: solid 4px gray;
}

.label-border {
    border: solid 3px black;
}

.margin-left {
    padding-left: 50px;
}

.margin-bottom {
    height: 500px;
}

section {
    padding-top: 25px;
}

.blue-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: blue;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

.purple-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: rgb(187, 0, 255);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

.green-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: rgb(14, 99, 72);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

.orange-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

.pink-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: rgb(242, 0, 255);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

.light-green-lable{
    border-radius: 35%;
    border: solid 3px black;
    background-color: rgb(18, 205, 52);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
}

section * {
    font-size: 20px;
}

