/*regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #F6F8FA;
}

/*titolo pagina*/
h1 {
    font-size: 50px;
    display: inline-block;
    vertical-align: 15%;
}

/*regola sfondo bianco dentro sezioni */
.white-back{
    background-color: white; 
}

main {
    width: 70%;
    margin:auto;
}

/*titolo e logo pagina */
#page-header {
    border-bottom: solid 40px #F6F8FA;
}

button {
    margin: 15px;
    padding: 5px 5px;
    border-radius: 15%;
    color: #C8C9C6;
    border:2px solid #C8C9C6;
}

#but1 {
    background-color: #43AEF5;
    margin-right: 0px;
    color: white;
    border:2px solid #43AEF5;
    margin-left: 52px;
}

#button-header {
    border-bottom: solid 4px #F6F8FA;
}

.margin-left {
    padding-left: 50px;
}

.margin-bottom {
    height: 500px;
}

section {
    padding-top: 2px;
}

/*etichette colorate*/
.blue-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: #43AEF5;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border:2px solid #43AEF5;
}

.purple-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: #9E73E4;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid #9E73E4;
}

.green-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: #66C1A9;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid #66C1A9;
}

.orange-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: #F69C32;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid #F69C32
}

.pink-label {
    border-radius: 35%;
    border: solid 3px black;
    background-color: #CC6AA4;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid #CC6AA4;
    
}

.light-green-lable{
    border-radius: 35%;
    border: solid 3px black;
    background-color: #B0CB23;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid #B0CB23;
}

section * {
    font-size: 20px;
    padding-top: 8px;
}

#no-label-row {
    display: inline-block;
    margin-bottom: 10px;
}