/*regole generali */
* {
    background-color: gray;
    padding: 0;
    margin: 0;
    box-sizing: border-box;   

}


/*titolo pagina*/
h1 {
    font-size: 50px;
    display: inline;
}

.white-back{
    background-color: white;
}
